.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  height: 100%;
  }

.center a {
    font-size: xx-large;
    border-radius: 10px;
  }