.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }

.center {
  display: flex;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  height: 100%;
  }