.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    height: 100vh;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  height: 100%;
  }

.center a {
    font-size: xx-large;
    border-radius: 10px;
  }

.fa-chevron-down {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 85%;
  right: 50%;
  cursor: pointer;
  animation: 1s soft-blink infinite alternate;
}

@keyframes soft-blink {
  0% { opacity: 0.8; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}
