<div class="banner" style="background-image: url(<%= video_path("tennis") %>)">
    <div class="center">
        <%= link_to "Play!", courts_path, class: "btn btn-success"  %>
        
    </div>
    <%= icon("fas", "chevron-down") %>
</div>




